@{
    ViewData["Title"] = "Home Page";
}
<img src="~/img/posback.jpg" style="width:100%; height:fit-content" />

@*
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
*@