<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="C:\weblogs\NLogs\NlogOwnsLogs.txt">


	<!-- the targets to write to File Size Limit 10MB -->
	<targets>

		<target xsi:type="File" name="logfile"
				fileName="C:\weblogs\${var:myenv}\Ecommerce\Api\Log - Ecommerce Web Api Schad - ${shortdate}.log"
				layout="${level:uppercase=true} ${longdate} [${logger}]   ${level}  - ${message} ${all-event-properties} ${exception:format=tostring}"
				archiveNumbering="DateAndSequence"
				archiveAboveSize="10000000"/>

		<target xsi:type="ColoredConsole" name="logconsole"
				layout="${level:uppercase=true} ${longdate} [${logger}]   ${level}  - ${message} ${all-event-properties} ${exception:format=tostring}"
				useDefaultRowHighlightingRules="true"
				enableAnsiOutput="false"
				DetectOutputRedirected="false"/>

	</targets>

	<rules>
		<logger name="Microsoft.*" minlevel="Info" writeTo="logconsole" final="true"/>
		<logger name="Ecommerce.*" minlevel="Trace" writeTo="logfile,logconsole"/>

	</rules>
</nlog>